#section_header{
    height: 100vh;
    background-image: url('../img/Team\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    &::after{
        content: "";
        position: absolute;
        top: 0;left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }

    .section_header_content{
        margin-top: 100px;
        
        >h2{
            font-size:8.5rem;
            font-weight: 500;
            color: transparent;
            -webkit-text-stroke: 1px white;
        }
    }
}// end of section header

.team-card{
    img{
        height: 380px;
    }
    .social{
        top: 120px;
        opacity: 0;
        z-index: 2;

        >i{
            display:inline-block;
            width:40px;
            height:40px;
            cursor: pointer;
            background-color: black;
            color: var(--white);
            font-size:1.1rem;
            text-align: center;
            line-height:40px;
            &:hover{
                background-color:var(--primary);
            }
        }

    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 14px;
        color: var(--gray);
    }
    figcaption{
        -webkit-box-shadow: 1px 6px 18px 7px rgba(215,218,219,1);
        -moz-box-shadow: 1px 6px 18px 7px rgba(215,218,219,1);
        box-shadow: 1px 6px 18px 7px rgba(215,218,219,1);
    }
    .card:hover{
        .social{
            opacity: 1;
        }
        figcaption{
            background-color: var(--primary);
            >*{
                color: white;
            }
        }
    }
}