body{
    overflow-x: hidden;
}
#section_header{
    height: 100vh;
    background-image: url('../img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    &::after{
        content: "";
        position: absolute;
        top: 0;left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }

    .section_header_content{
        margin-top: 100px;
        >h2{
            font-size:7.357rem;
            font-weight: 500;
            color: transparent;
            -webkit-text-stroke: 1px white;
            
        }
    }
}// end of section header

.pagination{
    height: 70px;
    .btnPagination{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid var(--gray);
        background: transparent;
        margin-inline: 2px;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            color: var(--white);
            background-color: var(--primary);
        }
    }
}